/* Cut this from skeleton.css to here  */
h1 {font-family:'Playfair Display', serif; color: gold; margin: 0;}
h2 {font-family:'Playfair Display', serif;}
h3 {font-family:'Playfair Display', serif;}
h4 {font-family:'Playfair Display', serif;}
p {font-family:'Poppins', sans-serif; color: white;}
/* GOOGLE FONTS (ADD WEIGTH + SIZE)
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/


/*Full width navigation   */
.navigationbar {
  background-color: #101010;;
  position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; 
  }
}
/*Fixed width header*/
nav {
  background-color: #34495e;
}
/*Placeholder for logo  */
#logo {
  color: #F9DB41;
}


/*Forside  */
.slider {
  background-color: blue;
  height: 80vh;
}

/*Wrapper farve for onlineBestilling  */
.wrapper.onlineBestilling{
  background-color: red;
}
/*Container farve for onlineBestilling  */
.container.onlineBestilling {
  background-color: pink;
}



/*Farve for alle divs hvor "introHistorie er div"
Rammer både ".container.introHistorie"
og "wrapper.introHistorie"*/
.introHistorie{
  background-color: green;
}
.indholdsoversigt{
  background-color: yellow;
  text-align: center;
}

.katalog{
  background-color: orange;
}
.kommendeEvents{
  background-color: pink;
}
.googleMaps{
  background-color: brown;
  height: 20vh;
}









/*Full width footer   */
.fullWidthFooter {
  background-color: #101010;
  width: 100%;
}
/*Fixed width footer  */
footer {
  background-color: #34495e;;
}


/* Indhold på  index side */
.index {
  background-color: #101010;
}
/*Indhold på template side  */
.template {
  background-color: #101010;
}
