


/*Full width navigation   */
.fullWidthNavigation {
  background-color: black;;
  width: 100%;
}


/*Containerd navigation bar  */
nav {
  background-color: black;
}

/*Full width footer   */
.fullWidthFooter {
  background-color: black;
  width: 100%;
}

/*Fixed width footer  */
footer {
  background-color: black;;
}


/* Indhold på  index side */
.index {
  background-color: black;
}
/*Indhold på template side  */
.template {
}


h1 {font-family: 'Playfair Display', serif; color: gold;}
h2 {font-family: 'Playfair Display', serif;}
h3 {font-family: 'Playfair Display', serif;}
h4 {font-family: 'Playfair Display', serif;}
p {font-family: 'Poppins', sans-serif; color: white;}

/* GOOGLE FONTS (ADD WEIGTH + SIZE)
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/